@media screen and(min-width:728px) {
    header {
        display: block;
        width: 100%;
        align-items: center;
    }

    #menu {
        position: absolute;
        width: 189px;
        height: 146px;
        left: 110px;
        top: 28px;
    }

    #tituloProjeto {
        font-family: 'Inter', sans-serif;
        position: absolute;
        width: 200px;
        height: 18px;
        left: 1336px;
        top: 138px;

        font-family: Inter;
        font-style: normal;
        font-weight: 10px;
        font-size: 12px;
        line-height: 34px;

        letter-spacing: 0.8em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    #nomeDoProjeto {
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        position: absolute;
        width: 350px;
        height: 56px;
        left: 1336px;
        top: 186px;
        border: none;
        padding-left: 15px;

        background: rgba(255, 255, 255, 0.16);
        border-radius: 8px;

    }

    #descricaoDoProjeto {
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15px;
        padding-top: 1px;

        position: absolute;
        width: 350px;
        height: 80px;
        left: 1336px;
        top: 249px;

        background: rgba(255, 255, 255, 0.16);
        border-radius: 8px;
        border: none;
    }

    #tituloPersonalizacao {
        position: absolute;
        width: 350px;
        height: 56px;
        left: 1336px;
        top: 354px;

        font-family: Inter;
        font-style: normal;
        font-weight: 10px;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;

        letter-spacing: 0.8em;
        text-transform: uppercase;
    }

    select {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;

        position: absolute;
        width: 360px;
        height: 56px;
        left: 1336px;
        top: 390px;

        background: rgba(255, 255, 255, 0.16);
        color: #FFFFFF;
        opacity: 0.64;

        border-radius: 8px;
        border: none;

        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }

    select option {
        background: #051D3B;
        color: #FFFFFF;
        border-radius: 25px;
        border: none;
    }

    #colorPicker {
        position: absolute;
        width: 360px;
        height: 56px;
        left: 1336px;
        top: 458px;

        background: rgba(196, 196, 196, 0.01);
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 8px;
    }

    #btnSalvarProjeto {
        position: absolute;
        width: 350px;
        height: 56px;
        left: 1336px;
        top: 548px;

        text-align: center;
        color: #051830;
        background: #5081FB;
        border-radius: 8px;
        border: none;

        font-family: Inter;
        font-style: normal;

        font-size: 20px;
        line-height: 24px;

    }

    @media screen and(min-width:1025px) {
        header {
            display: block;
            width: 100%;
            align-items: center;
        }

        #menu {
            position: absolute;
            width: 189px;
            height: 146px;
            left: 110px;
            top: 28px;
        }

        #tituloProjeto {
            font-family: 'Inter', sans-serif;
            position: absolute;
            width: 200px;
            height: 18px;
            left: 1336px;
            top: 138px;

            font-family: Inter;
            font-style: normal;
            font-weight: 10px;
            font-size: 12px;
            line-height: 34px;

            letter-spacing: 0.8em;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        #nomeDoProjeto {
            font-family: 'Inter', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;

            position: absolute;
            width: 350px;
            height: 56px;
            left: 1336px;
            top: 186px;
            border: none;
            padding-left: 15px;

            background: rgba(255, 255, 255, 0.16);
            border-radius: 8px;

        }

        #descricaoDoProjeto {
            font-family: 'Inter', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 15px;
            padding-top: 1px;

            position: absolute;
            width: 350px;
            height: 80px;
            left: 1336px;
            top: 249px;

            background: rgba(255, 255, 255, 0.16);
            border-radius: 8px;
            border: none;
        }

        #tituloPersonalizacao {
            position: absolute;
            width: 350px;
            height: 56px;
            left: 1336px;
            top: 354px;

            font-family: Inter;
            font-style: normal;
            font-weight: 10px;
            font-size: 12px;
            line-height: 18px;
            color: #FFFFFF;

            letter-spacing: 0.8em;
            text-transform: uppercase;
        }

        select {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 15px;

            position: absolute;
            width: 360px;
            height: 56px;
            left: 1336px;
            top: 390px;

            background: rgba(255, 255, 255, 0.16);
            color: #FFFFFF;
            opacity: 0.64;

            border-radius: 8px;
            border: none;

            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
        }

        select option {
            background: #051D3B;
            color: #FFFFFF;
            border-radius: 25px;
            border: none;
        }

        #colorPicker {
            position: absolute;
            width: 360px;
            height: 56px;
            left: 1336px;
            top: 458px;

            background: rgba(196, 196, 196, 0.01);
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 8px;
        }

        #btnSalvarProjeto {
            position: absolute;
            width: 350px;
            height: 56px;
            left: 1336px;
            top: 548px;

            text-align: center;
            color: #051830;
            background: #5081FB;
            border-radius: 8px;
            border: none;

            font-family: Inter;
            font-style: normal;

            font-size: 20px;
            line-height: 24px;
        }
    }
}